<div class="container">
  <div class="text-center">
    <h2>New Character</h2>
    <form action="/character/new" method="post">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name">
      </div>
      <button type="submit" class="btn btn-warning btn-lg">Create Character</button>
    </form>
  </div>
</div>