<!-- views/index.ejs -->
<% include ../partials/head %>
<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h2 class = "text-center">Edit Character</h2>
        <div class = "text-center section-button">
            <a id = "overview-button" class = "btn btn-default">01 Overview</a>
            <a id = "abilities-button" class = "btn btn-default">02 Abilities</a>
            <a id = "combat-button" class = "btn btn-default">03 Combat &amp; Equipment</a>
            <a id = "feats-button" class = "btn btn-default">04 Feats &amp; Traits</a>
            <a id = "spells-button" class = "btn btn-default">05 Spells</a>
        </div>
        <form action="/character/<%= char._id %>/edit" method="post" name="updatecharacter">
            <% include ./partials/edit_overview %>
            <% include ./partials/edit_abilities %>
            <% include ./partials/edit_combat %>
            <% include ./partials/edit_feats %>
            <% include ./partials/edit_spells %>
            
            <input type="hidden" value="PUT" name="_method">
            <div>
                <button type="submit" class="btn btn-warning btn-lg">Update Character</button>
            </div>
        </form>
        <span> <a href = "/character/<%- char._id %>/" class = "btn btn-info">Show</a></span>
        <form method = "post" name = "deletecharacter" action = "/character/<%- char._id %>/edit" style = "display: inline-block;">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit" class = "btn btn-danger">Delete</button>
        </form>
    </div>
</div>

<link href = "../../assets/stylesheets/character.css" rel = "stylesheet" />

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src = "../../assets/javascripts/character.js"></script>
<% include ../partials/footer %>
