<!-- views/index.ejs -->
<% include ../partials/head %>
<% include ../partials/header %>

<div class="container">
    <div class="jumbotron text-center">
        <h3>All Characters</h3>
        <% char.forEach(function(character) { %>
            <p><%= character.name %></p>
            <span> <a href = "/character/<%- character._id %>" class = "btn btn-primary">Show</a></span>
            <span> <a href = "/character/<%- character._id %>/edit" class = "btn btn-info">Edit</a></span>
            <form method = "post" name = "deletecharacter" action = "/character/<%- character._id %>/edit" style = "display: inline-block;">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class = "btn btn-danger">Delete</button>
            </form>
        <% }); %>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src = "../../assets/javascripts/character.js"></script>
<% include ../partials/footer %>