<!-- views/index.ejs -->
<% include ../partials/head %>
<% include ../partials/header %>

<div class = "container">
    <div class = "row">
        <h2 class = "text-center">Character Details</h2>
        <div class = "text-center section-button">
            <a id = "overview-button" class = "btn btn-default">01 Overview</a>
            <a id = "abilities-button" class = "btn btn-default">02 Abilities</a>
            <a id = "combat-button" class = "btn btn-default">03 Combat &amp; Equipment</a>
            <a id = "feats-button" class = "btn btn-default">04 Feats &amp; Traits</a>
            <a id = "spells-button" class = "btn btn-default">05 Spells</a>
        </div>
        
        <% include ./partials/show_overview %>
        <% include ./partials/show_abilities %>
        <% include ./partials/show_combat %>
        <% include ./partials/show_feats %>
        <% include ./partials/show_spells %>

        <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <span> <a href = "/character/<%- char._id %>/edit" class = "btn btn-info">Edit</a></span>
            <form method = "post" name = "deletecharacter" action = "/character/<%- char._id %>/edit" style = "display: inline-block;">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class = "btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>

<link href = "../../assets/stylesheets/character.css" rel = "stylesheet" />

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src = "../../assets/javascripts/character.js"></script>
<% include ../partials/footer %>