<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>D&amp;D Characters</title>
</head>
<body>
    <% include ./partials/header %>

    <div class="container">

        <div class="jumbotron text-center">
            <h1>D&amp;D Characters</h1>
            <% if (user) { %>
                <% if (char) { %>
                    <h3>Recent Characters</h3>
                    <% for(var i = char.length - 1; i >= 0 && i >= char.length - 3; i--) { %>
                        <p><%= char[i].name %></p>
                    <% } %>
                <% } %>
                <a href="/character/new" class = "btn btn-default"><span class="fa fa-user-plus"></span> New Character</a>
            <% } else { %>
                <p>Login or Register with:</p>

                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
                <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
                <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
            <% } %>
        </div>

    </div>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/20ce3dbf5c.js"></script>
</body>
</html>