<!-- views/index.ejs -->
<% include ./partials/head %>
<% include ./partials/header %>

<div class="container">
    <div class="jumbotron text-center">
        <h1>D&amp;D Characters</h1>
        <% if (user) { %>
            <% if (char) { %>
                <h3>Recent Characters</h3>
                <% for(var i = char.length - 1; i >= 0 && i >= char.length - 3; i--) { %>
                    <p><%= char[i].name %></p>
                    <span> <a href = "/character/<%- char[i]._id %>" class = "btn btn-primary">Show</a></span>
                    <span> <a href = "/character/<%- char[i]._id %>/edit" class = "btn btn-info">Edit</a></span>
                    <form method = "post" name = "deletecharacter" action = "/character/<%- char[i]._id %>/edit" style = "display: inline-block;">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class = "btn btn-danger">Delete</button>
                    </form>
                <% } %>
            <% } %>
            <p><a href="/character/new" class = "btn btn-default"><span class="fa fa-user-plus"></span> New Character</a></p>
        <% } else { %>
            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
            <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
        <% } %>
    </div>
</div>

<% include ./partials/footer %>