<section id = "spells">
    <div class = "col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12 outer-col left">
        
    </div>
    <div class = "col-lg-5 col-md-5 col-sm-12 col-xs-12 outer-col right">
        <p class = "details">Lorem</p>
    </div>
</section>